.basicDetailsCard {
    border: 0px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    width: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
}


.Card {
    border: 1px solid var(--lightGrayColor);
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.input {
    background-color: var(--searchBarColor);
    padding: 0.875rem;
    border-radius: 1rem;
    resize: none;
    width: 100%;
}


.popper {
    outline: none;
    font-family: sans-serif;
    border: none;
   /* margin-top: 5%; */
}

.popperItem:hover{
    background-color: var(--searchBarColor);
}


.imageContainer {
    border-radius: 14px;
    border: 2px solid var(--grayColor);
    height: 120px;
    width: 120px;
    overflow: hidden;
    position: relative;
}

.videoContainer {
    border-radius: 14px;
    border: 2px solid var(--grayColor);
    height: 250px;
    width: 150px;
    overflow: hidden;
    position: relative;
}

.closeButton {
    color: var(--pink);
    background-color: white;
    border-radius: 100px;
    position: relative;
    top: 20px;
    right: -10px;
    z-index: 5;
    object-fit: fill;
    padding: 0px;
    width: fit-content;
}

.closeButton:hover {
    cursor: pointer;
}

.size {
    border: 2px solid var(--lightGrayColor);
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.size:active {
    background-color: var(--orange);
    color: white;
    border: 2px solid var(--orange);
}
